    @charset "UTF-8"; 

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
}

:root {
    --primary-color: #fe7e00;
    --second-color: rgb(24, 24, 24);
    --third-color: rgb(19, 19, 19);
  }

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0px 0px 0px 0px
}

/*Abaixo toda a parte responsiva do site, em diversas telas*/

header > p {
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    text-align: left;
    background-color: var(--second-color);
    padding: 15px 0px 15px 30px;
}

header > p > a {
    font-size: 15px;
    text-decoration: none;
    margin-left: 50px;
    padding: 0px 0px 0px 0px;
    color: white;
}

button.btn.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    border: 2px solid var(--primary-color);
    background-color: rgb(24, 24, 24);
    border-radius: 32px;
    margin-left: 30px;
}

div#collapseWidthExample.collapse-horizontal.collapse.show{
    transition: 2s;
    margin: 20px 0px 0px 30px;
}

div#collapseWidthExample.collapse-horizontal.collapse.show a {
    transition: 1s;
    color: var(--primary-color);
    text-decoration: none;
}

.col > p {
    margin: 0px 0px 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 324px;
    border: 2px solid var(--primary-color);
    border-radius: 32px;
    padding: 10px;
}

label.label {
    background-color: var(--third-color);
}

.col > h1{
    margin: 70px 0px 0px 0px;
    font-size: 3em;
}

.col > h1 >b {
    background-clip: text;
    color:  var(--primary-color);
}

article#tempolimitado {
    margin-left: 25px;
    border-radius: 15px;
}

#tempolimitado > h2 {
    font-size: 2em;
}

#tempolimitado > h2> b {
    color: rgb(255, 4, 4);
}

.tempolimite {
    background-color: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Abaixo classificado como meio do site, logo após as informações iniciais*/

#meio > h1{
    padding-left: 50px;
}

section#meio > h1 >b {
    color:  var(--primary-color);
}

div.row.align-items-starti {
    padding-left: 50px;
}

#acesso {
    text-align: center;
    background-color: var(--third-color);
    color: white;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-top: 45px;
    padding-top: 30px;
}
#suporte{
    text-align: center;
    background-color: var(--third-color);
    color: white;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-top: 45px;
    padding-top: 30px;
}
#conteudo {
    text-align: center;
    background-color: var(--third-color);
    color: white;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-top: 45px;
    padding-top: 30px;
}

/*Salarios dos níveis*/

#salarios > h1{
    padding: 200px 0px 90px 50px;
}

#salarios > h1 > b {
    color: var(--primary-color);
}

div.col {
    margin-top: 50px;
    text-align: center;
}

 #salario > #emoji {
    text-align: center;
    padding: 0px 0px 0px 10px;
    font-size: 30px;
 }


#salario {
    text-align: center;
    background-color: var(--third-color);
    color: white;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

article#salario > p {
    padding: 30px 0px 0px 30px;
    text-align: left;
    font-size: 2.5em;
}

/*Abaixo informações da parte final já do site, sobre as tecnicas que iremos aprender*/

#conhecimento {
    padding-left: 50px;
    margin-top: 100px;
}
#conhecimento > h1 > b{
    color: var(--primary-color);
}

#sinuca{
    text-align: center;
    background-color: var(--third-color);
    color: white;
    width: 320px;
    height: 220px;
    border-radius: 10px;
    padding: 30px 0px 90px 0px;
}
#sinuca > img {
    margin: -20px 0px 10px 0px;
}

button.btn.btn-second {
   margin: 200px 0px 0px 200px;
}

/*Quem somos*/

button.btn.btn-seconds {
    margin: 100px 0px 0px 50px;
}

#quemsou > h1{
margin: 200px 0px 0px 50px;
}

#quemsou > h1 > b{
    color: var(--primary-color);
}

#quemsou > h2{
    margin: 0px 0px 0px 50px;
}

#quemsou > h1 b{
    color: var(--primary-color);
}

#quemsou > p {
    margin: 0px 0px 0px 50px;
}

#mapa {
    margin: 100px 0px 100px 60px;
}

div.card.card-body {
    background-color: black;
    margin-left: 110px;
}

/*jogo*/

#jogo {
    margin-bottom: 100px;
}

#jogar > h1 {
    margin: 0px 0px 0px 50px;
}

.col > img {
    border-radius: 10px;
}

/*Por fim porem não menos importante, nosso Footer*/

#PlayerPro {
    margin-left: 30px;
    padding-top: 20px;
    font-size: 2em;
}


#Copyright {
    padding-bottom: 15px;
    margin: 0px;
    text-align: center;
}

footer {
    background-color: var(--third-color);
    color: white;
    border-radius: 50px;
}

.icones {
    padding-bottom: 30px;
}

.icones > a {
    padding-left: 30px;
}

.icones > abbr {
    padding-left: 30px;
}
