@charset "UTF-8";

@media (min-width: 375px) and (max-width: 553px) {
   body {
      width: 100%;
      margin: 0px 0px 0px 0px;
   }

header > p {
   width: 109%;
}

.col {
   width: 100%;
   margin-top: -20px;
}
   
.col > p {
   width: 95%;
}
.col > h1 {
   width: 100%;
   padding-left: 20px;
   margin-top: 10px;
}

article#box {
   width: 75%;
   margin: 400px 0px 0px 30px;
   padding: 0px 0px 0px 0px;
   position: absolute;
}

legend {
   width: 100%;
   margin-bottom: 20px;
}

#tempolimitado  {
   width: 100%;
   margin: 500px 0px 0px -33  0px;
}
#meio {
   width: 100%;
   padding-left: 35px;
}
#acesso{
   width: 100%;
   height: 220px;
}
#suporte {
   width: 100%;
   height: 220px;
}
#conteudo {
   width: 100%;
   height: 220px;
}
#esteebook {
   width: 100%;
   margin: 0px 0px 0px 0px;
}
.carousel-inner {
   margin: 0px 500px 0px -30px;
   width: 100%;
}

.carousel-control-next-icon {
   margin-bottom: -180px;
}

.carousel-control-prev-icon {
   margin-bottom: -180px;
}

#salario {
  margin: 40px 0px 0px 80px;
}

#conhecimento > h1 {
   width: 100%;
   padding-left: 20px;
}
#conhecimento > .col {
   padding-bottom: 100px;
}

#quemsou > img {
   margin-top: 50px;
   margin-left: 100px;
}

#quemsou > p{
   width: 250px;
   margin: 250px 0px 0px 100px;
   height: 450px;
}

footer {
   width: 109%;
}

}