@charset "UTF-8";

@media (min-width: 1146px) and (max-width: 1332px) {

header {
   width:100%;
}

.col {
   width: 100%;
}

.col > h1 {
   width: 100%;
   margin-left: 40px;
}

article#box {
   margin: 45px 0px 0px 0px;
}

#tempolimitado  {
   width: auto;
}
#meio {
   width: 100%;
   margin-left: 40px;
}
#acesso{
   width: 100%;
}
#suporte {
   width: 100%;
}
#conteudo {
   width: 100%;
}
#esteebook {
   width: 100%;
}

.carousel-inner {
   width: 100%;
   margin: 0px 350px 0px 0px;
}

.carousel-control-next-icon {
    margin-bottom: -190px;
 }

 .carousel-control-prev-icon {
    margin-bottom: -190px;
    margin-left: 35px;
 }

 #salario {
   width: 100%;
 }

#conhecimento > h1 {
   
   margin-left: 40px;
}

footer {
   margin-top: 150px;
}

}